@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shimmer {
  0% { background-position: -400px 0; }
  100% { background-position: 400px 0; }
}
.shimmer {
  animation: shimmer 1.5s infinite linear;
  background: linear-gradient(
    to right,
    #f3f3f3 0%,
    #ecebeb 20%,
    #f3f3f3 40%,
    #f3f3f3 100%
  );
  background-size: 800px 104px;
  position: relative;
}


/* 
District Theme Color

#FFF3B0	Soft Pastel Yellow
#335C67	Deep Teal Blue
#9E2A2B	Crimson Red
#E09F3E	Golden Amber / Mustard 
*/


/* //   const images1 = [
//   "https://images.unsplash.com/photo-1544005313-94ddf0286df2?w=1200&h=800&fit=crop", // Event 1
//   "https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=1200&h=800&fit=crop", // Event 2
//   "https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?w=1200&h=800&fit=crop", // Event 3
//   "https://images.unsplash.com/photo-1517077304055-6e89abbf09b0?w=1200&h=800&fit=crop", // Event 4
//   "https://images.unsplash.com/photo-1511632765486-a01980e01a18?w=1200&h=800&fit=crop", // Event 5
//   "https://images.unsplash.com/photo-1416879595882-3373a0480b5b?w=1200&h=800&fit=crop", // Event 6
//   "https://images.unsplash.com/photo-1550439062-609e1531270e?w=1200&h=800&fit=crop", // Event 7
//   "https://images.unsplash.com/photo-1508672019048-805c876b67e2?w=1200&h=800&fit=crop", // Event 8
//   "https://images.unsplash.com/photo-1522199710521-72d69614c702?w=1200&h=800&fit=crop", // Event 9
//   "https://images.unsplash.com/photo-1494790108377-be9c29b29330?w=1200&h=800&fit=crop"  // Event 10
// ]; */
